<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="fragment" content="!">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{description}}" />
	<base href="{{server}}"/>
	<title>{% block title %}ambox // index{% endblock %}</title>
	<link rel="canonical" href="{{canonical}}" />
	<link rel="stylesheet" href="styles/skin.css">
</head>
<body ui-spa=".view [ui-view]">
	<nav class="menu">
		<ul class="list">
		{% for state, name in menu %}
			<li class="list__item"><a class="link" href="{{state}}" ui-sref>{{name}}</a></li>
		{% endfor %}
		</ul>
	</nav>
	<section class="view">
		<div ui-view>{% block view %}{% endblock %}</div>
	</section>
	<script data-main="scripts/setup.js" src="scripts/vendors/require/require.js"></script>
	{% if livereload %}<script src="//localhost:35729/livereload.js"></script>{% endif %}
</body>
</html>