//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Layout rules
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Layout rules divide the page into sections.
// Layouts hold one or more modules together.

.MainHeader {
	@include fixed(27px none none 18px);
}

.MainHeader-title {
	@include font-size(17px);
	@include line-height(13px);
	font-weight: normal;
}
.MainHeader-titleLink {
	text-decoration: none;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.MainMenu {
	@include fixed(27px 18px none none);
}
.MainMenu-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.MainMenu-item {
	@include relative;
	@include size(none 30px);
	display: inline-block;
}
.MainMenu-item--colorA {
}
.MainMenu-item--colorB {
}
.MainMenu-item--colorC {
}
.MainMenu-link {
	@include relative;
	@include font-size(15px);
	@include line-height(11px);
	transition: 0.5s color $easeOutSine;
	text-decoration: none;
	color: $color-DoveGray;
	padding: 0 6px 12px;
	margin: 0 8px;
}
.MainMenu-link:before {
	@include absolute(none 0 0 0);
	@include size(none 1px);
	transition: 0.5s background-color, 0.5s opacity, 0.5s height;
	transition-timing-function: $easeOutSine;
	background-color: $color-Silver;
	content: '';
}
.MainMenu-link:after {
	@extend .MainMenu-link:before;
}
// states
.MainMenu-item:hover,
.MainMenu-item.is-active{
	.MainMenu-link {
		color: $color-CodGray;
	}
	.MainMenu-link:before {
		background-color: $color-CodGray;
	}
}
.MainMenu-item.is-active{
	.MainMenu-link:after {
		@include size(none 3px);
	}
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.MainView {
	padding: 80px 17px 0 17px;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.MainFooter {
}
.MainFooter-signature {
	@include fixed(none 20px 17px none);
	@include size(34px 30px);
	padding: 0;
}

@media (max-width: 768px) {
	.MainHeader {
		display: none;
	}
	.MainMenu {
		@include fixed(0 0 none 0);
		margin: 0 0 60px;
		padding: 15px 0;
		text-align: center;
		background-color: $color-Alabaster;
	}
	.MainView {
		padding: 60px 10px 0 10px;
	}
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.News {
	@include size(15px 80%);
	display: table;
}
.News-list {
	@include relative;
	display: table-cell;
	vertical-align: middle;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.News-item {
	@include relative;
	@include size(15px);
}
.News-link {
	@include size(100% 14px);
	text-indent: -999em;
	display: inline-block;
	overflow: hidden;
}
.News-link:before {
	@include absolute(0 none none 0);
	@include size(100% 1px);
	background: #121c25;
	content: '';
}