{% extends "base.html" %}
{% block title %}Ambox // Flux{% endblock %}
{% block view %}
	<header class="flux__header">
		<h1 class="flux__title">Flux/{{env.params.uid}}</h1>
		<p class="flux__description">Hello stranger</p>
	</header>
	<nav class="News">
		<ul class="News-list">
			<li class="News-item"><a href="#" class="News-link">1</a></li>
			<li class="News-item"><a href="#" class="News-link">02</a></li>
			<li class="News-item"><a href="#" class="News-link">03</a></li>
			<li class="News-item"><a href="#" class="News-link">04</a></li>
			<li class="News-item"><a href="#" class="News-link">05</a></li>
			<li class="News-item"><a href="#" class="News-link">06</a></li>
			<li class="News-item"><a href="#" class="News-link">07</a></li>
			<li class="News-item"><a href="#" class="News-link">08</a></li>
			<li class="News-item"><a href="#" class="News-link">09</a></li>
			<li class="News-item"><a href="#" class="News-link"></a></li>
		</ul>
	</nav>
{% endblock %}